<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>alfred-convert-GC</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>1E12C11D-30DB-44A8-AD75-F5BE7F2DA451</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4489D9A5-121F-4F86-A8B9-6B6E7A49CEA6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4489D9A5-121F-4F86-A8B9-6B6E7A49CEA6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>54F0C711-EDE6-4387-B397-34AB8A8FFCB2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CFE51A32-D227-42BA-966C-DBDED818F1D4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4F101B56-DE40-4D36-8D3D-E5E01A83C8D0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>070B760D-0FE5-427B-9AFE-E617CDAF3601</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>54F0C711-EDE6-4387-B397-34AB8A8FFCB2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>607FA0B2-94A5-48E4-96E9-0BFA8872F7EE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>96CC03AC-25D6-4FDB-AA8B-FCF145F4D597</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>14C63701-669A-43A3-BF6A-65A23759DA5F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C1740EC8-21DE-4062-A3F3-A46CDC61EFFF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1E12C11D-30DB-44A8-AD75-F5BE7F2DA451</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CFE51A32-D227-42BA-966C-DBDED818F1D4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F738EA53-3486-4210-B03B-CFB792FD1798</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DA12DA9F-7A81-4D31-BECF-ADF453BB814C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EF92F243-C49B-4DFC-B0A4-72317B2457A7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EF92F243-C49B-4DFC-B0A4-72317B2457A7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>96CC03AC-25D6-4FDB-AA8B-FCF145F4D597</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F738EA53-3486-4210-B03B-CFB792FD1798</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>03379773-30CB-4371-BC49-8E2EA4C9947A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4F101B56-DE40-4D36-8D3D-E5E01A83C8D0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Dean Jackson</string>
	<key>description</key>
	<string>Free-form conversions between different units</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Convert</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>607FA0B2-94A5-48E4-96E9-0BFA8872F7EE</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:action}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>54F0C711-EDE6-4387-B397-34AB8A8FFCB2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:mainkeyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Convertifying…</string>
				<key>script</key>
				<string>
echo . &gt;&amp;2
echo "http_proxy=$http_proxy"&gt;&amp;2
echo "https_proxy=$https_proxy"&gt;&amp;2

/usr/bin/python3 convert.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Convert a free-form quantity to other units</string>
				<key>title</key>
				<string>Convert a Quantity</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>1E12C11D-30DB-44A8-AD75-F5BE7F2DA451</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<false/>
				<key>triggerid</key>
				<string>convert</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>C1740EC8-21DE-4062-A3F3-A46CDC61EFFF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>query={query},
variables={allvars}</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>4489D9A5-121F-4F86-A8B9-6B6E7A49CEA6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>export PYTHONPATH="$PWD/lib"


/usr/bin/python3 defaults.py $action "$dimensionality" "$unit"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F738EA53-3486-4210-B03B-CFB792FD1798</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Updated Default Units</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>03379773-30CB-4371-BC49-8E2EA4C9947A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:action}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>CFE51A32-D227-42BA-966C-DBDED818F1D4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<false/>
				<key>triggerid</key>
				<string>config</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>DA12DA9F-7A81-4D31-BECF-ADF453BB814C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>convinfo</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>export PYTHONPATH="$PWD/lib"


/usr/bin/python3 info.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>View help file and supported currencies</string>
				<key>title</key>
				<string>Convert Information and Help</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>EF92F243-C49B-4DFC-B0A4-72317B2457A7</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>14C63701-669A-43A3-BF6A-65A23759DA5F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>export PYTHONPATH="$PWD/lib"


/usr/bin/python3 info.py $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>96CC03AC-25D6-4FDB-AA8B-FCF145F4D597</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>convert</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<false/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>070B760D-0FE5-427B-9AFE-E617CDAF3601</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>4F101B56-DE40-4D36-8D3D-E5E01A83C8D0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Convert


Offline Conversions, based on the awesome Pint library.

In addition to all units supported by Pint, almost all the currencies supported by OpenExchangeRates.org and cryptocurrencies supported by CryptoCompare.com are supported.

You can also add your own custom units.
More info [here](https://github.com/giovannicoppola/alfred-convert)</string>
	<key>uidata</key>
	<dict>
		<key>03379773-30CB-4371-BC49-8E2EA4C9947A</key>
		<dict>
			<key>xpos</key>
			<real>1070</real>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>070B760D-0FE5-427B-9AFE-E617CDAF3601</key>
		<dict>
			<key>xpos</key>
			<real>1070</real>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>14C63701-669A-43A3-BF6A-65A23759DA5F</key>
		<dict>
			<key>xpos</key>
			<real>610</real>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>1E12C11D-30DB-44A8-AD75-F5BE7F2DA451</key>
		<dict>
			<key>note</key>
			<string>Perform conversion</string>
			<key>xpos</key>
			<real>210</real>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>4489D9A5-121F-4F86-A8B9-6B6E7A49CEA6</key>
		<dict>
			<key>xpos</key>
			<real>440</real>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>4F101B56-DE40-4D36-8D3D-E5E01A83C8D0</key>
		<dict>
			<key>note</key>
			<string>Set query from var:query</string>
			<key>xpos</key>
			<real>980</real>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>54F0C711-EDE6-4387-B397-34AB8A8FFCB2</key>
		<dict>
			<key>note</key>
			<string>Default action</string>
			<key>xpos</key>
			<real>650</real>
			<key>ypos</key>
			<real>70</real>
		</dict>
		<key>607FA0B2-94A5-48E4-96E9-0BFA8872F7EE</key>
		<dict>
			<key>xpos</key>
			<real>770</real>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>96CC03AC-25D6-4FDB-AA8B-FCF145F4D597</key>
		<dict>
			<key>xpos</key>
			<real>410</real>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>C1740EC8-21DE-4062-A3F3-A46CDC61EFFF</key>
		<dict>
			<key>xpos</key>
			<real>40</real>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>CFE51A32-D227-42BA-966C-DBDED818F1D4</key>
		<dict>
			<key>note</key>
			<string>Save/delete unit</string>
			<key>xpos</key>
			<real>650</real>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>DA12DA9F-7A81-4D31-BECF-ADF453BB814C</key>
		<dict>
			<key>xpos</key>
			<real>40</real>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>EF92F243-C49B-4DFC-B0A4-72317B2457A7</key>
		<dict>
			<key>note</key>
			<string>View currencies and edit configuration</string>
			<key>xpos</key>
			<real>210</real>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>F738EA53-3486-4210-B03B-CFB792FD1798</key>
		<dict>
			<key>xpos</key>
			<real>770</real>
			<key>ypos</key>
			<real>170</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>API key for openexchangerates.org. This is required to download exchange rates for fiat currencies.</string>
			<key>label</key>
			<string>API Key</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>APP_KEY</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>determines whether the unit is also copied when you press CMD+C. 0 or no value means the unit won't be copied. Any other value means the unit will also be copied.</string>
			<key>label</key>
			<string>Copy Unit</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>COPY_UNIT</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>2</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Overrides the default `DECIMAL_PLACES` setting for currency conversions.</string>
			<key>label</key>
			<string>Currency Decimal Places</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>CURRENCY_DECIMAL_PLACES</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>2</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Number of decimal places to show in results.</string>
			<key>label</key>
			<string>Decimal Places</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>DECIMAL_PLACES</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>.</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>character used to separate whole numbers from decimal fraction when parsing input and displaying output (see also THOUSANDS_SEPARATOR below).</string>
			<key>label</key>
			<string>Decimal Separator</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>DECIMAL_SEPARATOR</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>1</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Dynamically increase the number of decimal places (up to 10) so that the result is non-zero. Any value but 0 or empty turns this option on.</string>
			<key>label</key>
			<string>Dynamic Decimals</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>DYNAMIC_DECIMALS</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>,</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Character to delimit thousands Used for parsing input and generating output.</string>
			<key>label</key>
			<string>Thousands Separator</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>THOUSANDS_SEPARATOR</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>60</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>How often (in minutes) to update currency exchange rates.</string>
			<key>label</key>
			<string>Update Interval</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>UPDATE_INTERVAL</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>conv</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>mainkeyword</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>4.0.3</string>
	<key>webaddress</key>
	<string>https://github.com/giovannicoppola/alfred-convert</string>
</dict>
</plist>
