<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>0D7D91B9-C02B-4489-8722-A47E1C27A744</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>torrentking</string>
			<key>text</key>
			<string>Search TorrentKing for '{query}'</string>
			<key>url</key>
			<string>https://torrentking.to/search?mk={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>13E0FD27-F95D-470F-ACEB-C8510F9BEB96</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>github</string>
			<key>text</key>
			<string>Open GitHub</string>
			<key>url</key>
			<string>https://github.com/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>15232E4A-3ED4-4887-9C13-D2DFAC3CF2E9</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>messenger</string>
			<key>text</key>
			<string>Open Facebook Messenger</string>
			<key>url</key>
			<string>https://www.facebook.com/messages/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>169C8F56-130A-41CE-908E-A99B804D2816</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>avistaz</string>
			<key>text</key>
			<string>Search AvistaZ for '{query}'</string>
			<key>url</key>
			<string>https://avistaz.to/torrents?in=1&amp;search={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>20FEC948-F4E7-4CFD-8CFF-61E9C52F3681</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>stackoverflow</string>
			<key>text</key>
			<string>Search StackOverflow for '{query}'</string>
			<key>url</key>
			<string>https://www.google.com/search?q={query}+site%3Ahttps%3A%2F%2Fstackoverflow.com</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>32F695A5-5047-4BBB-B1F0-19DA49BF56F5</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>nethd</string>
			<key>text</key>
			<string>Search NetHD for '{query}'</string>
			<key>url</key>
			<string>http://nethd.org/torrents.php?search={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>343F6171-BB46-43AF-AB9A-BC37C721A551</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>mactorrents</string>
			<key>text</key>
			<string>Search Mac-torrents for '{query}'</string>
			<key>url</key>
			<string>http://mac-torrents.com/?s={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>35C70622-187C-4526-8475-E7C66150BFA8</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>libgen</string>
			<key>text</key>
			<string>Search LibGen for '{query}'</string>
			<key>url</key>
			<string>http://gen.lib.rus.ec/search.php?req={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>3661B482-97F6-4FA9-9399-D26D4846622A</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>stackoverflowtag</string>
			<key>text</key>
			<string>Search StackOverflow for tag '{query}'</string>
			<key>url</key>
			<string>https://stackoverflow.com/questions/tagged/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>484B180C-B0CC-40CA-866A-0EADE1650D22</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>wiki</string>
			<key>text</key>
			<string>Search Wikipedia for '{query}'</string>
			<key>url</key>
			<string>https://en.m.wikipedia.org/w/index.php?search={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>893F783B-CF2C-45C2-9230-117B3E20E53A</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>spotify</string>
			<key>text</key>
			<string>Search Spotify for '{query}'</string>
			<key>url</key>
			<string>https://open.spotify.com/search/results/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>8C78FE01-40B2-453B-B430-44B50CBEA7D8</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>spotify</string>
			<key>text</key>
			<string>Open Spotify Web Player</string>
			<key>url</key>
			<string>https://open.spotify.com/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>92154DFE-429C-4AB5-8FF1-8197EC026157</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>subscene</string>
			<key>text</key>
			<string>Search Subscene for '{query}'</string>
			<key>url</key>
			<string>https://subscene.com/subtitles/title?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>B210EDBA-8F69-434C-A19C-CE49BA0656F0</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>cinemaz</string>
			<key>text</key>
			<string>Search CinemaZ for '{query}'</string>
			<key>url</key>
			<string>https://cinemaz.to/torrents?in=1&amp;search={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>BB470ADA-5EC0-4B0D-8CAC-4204801CBD0A</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>stackoverflow</string>
			<key>text</key>
			<string>Open StackOverflow</string>
			<key>url</key>
			<string>https://stackoverflow.com</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>BCBC859E-1458-4EEE-BFE8-41A7AB536C09</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>quora</string>
			<key>text</key>
			<string>Search Quora for '{query}'</string>
			<key>url</key>
			<string>https://www.quora.com/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>E34B390A-D225-4B9A-BB8F-1F351FAD7C6B</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>github</string>
			<key>text</key>
			<string>Search GitHub for '{query}'</string>
			<key>url</key>
			<string>https://github.com/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>F9E27D5A-9F4D-470A-BB61-E9F3F6842FB6</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>privatehd</string>
			<key>text</key>
			<string>Search PrivateHD for '{query}'</string>
			<key>url</key>
			<string>https://privatehd.to/torrents?in=1&amp;search={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>FE2977CE-4182-4578-9EAA-4534DD141A83</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>hd-space</string>
			<key>text</key>
			<string>Search HD-Space for '{query}'</string>
			<key>url</key>
			<string>https://hd-space.org/index.php?page=torrents&amp;search={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>FF462A8E-25DB-4DB9-AEFB-2E324238F7F2</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>quora</string>
			<key>text</key>
			<string>Open Quora</string>
			<key>url</key>
			<string>https://www.quora.com/</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
