<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DHCheatRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>ASCII_Tables</key>
			<dict>
				<key>date</key>
				<date>2022-06-25T01:36:18Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>ASCII Tables</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>ASCII_Tables</string>
				</dict>
			</dict>
			<key>Bash_Test_Operators</key>
			<dict>
				<key>date</key>
				<date>2022-06-25T01:36:18Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>terminal shell bash</string>
					</array>
					<key>name</key>
					<string>Bash Test Operators</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Bash_Test_Operators</string>
				</dict>
			</dict>
			<key>CSS_Device_Media_Queries</key>
			<dict>
				<key>date</key>
				<date>2022-06-25T01:36:17Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>CSS Device Media Queries</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>CSS_Device_Media_Queries</string>
				</dict>
			</dict>
			<key>CSS_Named_Colors</key>
			<dict>
				<key>date</key>
				<date>2022-06-25T01:36:16Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>CSS Named Colors</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>CSS_Named_Colors</string>
				</dict>
			</dict>
			<key>Git</key>
			<dict>
				<key>date</key>
				<date>2022-06-25T01:36:16Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>terminal</string>
						<string>shell</string>
						<string>bash</string>
						<string>zsh</string>
					</array>
					<key>name</key>
					<string>Git</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Git</string>
				</dict>
			</dict>
			<key>Git_Flow</key>
			<dict>
				<key>date</key>
				<date>2022-06-25T01:36:17Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>terminal</string>
						<string>shell</string>
						<string>bash</string>
						<string>zsh</string>
					</array>
					<key>name</key>
					<string>Git Flow</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Git_Flow</string>
				</dict>
			</dict>
			<key>HTML_Entities</key>
			<dict>
				<key>date</key>
				<date>2022-06-25T01:36:17Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>HTML Entities</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>HTML_Entities</string>
				</dict>
			</dict>
			<key>HTML_Head_Elements</key>
			<dict>
				<key>date</key>
				<date>2022-06-25T01:36:17Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>HTML Head Elements</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>HTML_Head_Elements</string>
				</dict>
			</dict>
			<key>HTTP_Header_Fields</key>
			<dict>
				<key>date</key>
				<date>2022-06-25T01:36:15Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>HTTP Header Fields</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>HTTP_Header_Fields</string>
				</dict>
			</dict>
			<key>HTTP_Status_Codes</key>
			<dict>
				<key>date</key>
				<date>2022-06-25T01:36:17Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>HTTP Status Codes</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>HTTP_Status_Codes</string>
				</dict>
			</dict>
			<key>MIME_Types</key>
			<dict>
				<key>date</key>
				<date>2022-06-25T01:36:17Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>MIME Types</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>MIME_Types</string>
				</dict>
			</dict>
			<key>Mac_Startup_Keys</key>
			<dict>
				<key>date</key>
				<date>2022-06-25T01:36:17Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>mac os x startup keys</string>
						<string>macosx startup keys</string>
					</array>
					<key>name</key>
					<string>Mac Startup Keys</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Mac_Startup_Keys</string>
				</dict>
			</dict>
			<key>NSDateFormatter</key>
			<dict>
				<key>date</key>
				<date>2022-06-25T01:36:14Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>xcode</string>
						<string>apple</string>
						<string>cocoa touch</string>
						<string>iphone</string>
						<string>ipad</string>
						<string>ios</string>
						<string>mac os x</string>
						<string>macosx</string>
						<string>objc</string>
						<string>objectivec</string>
						<string>objective c</string>
						<string>swift</string>
					</array>
					<key>name</key>
					<string>NSDateFormatter</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>NSDateFormatter</string>
				</dict>
			</dict>
			<key>Oh-My-Zsh_Git</key>
			<dict>
				<key>date</key>
				<date>2022-10-11T15:49:38Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>ohmyzsh</string>
						<string>oh my zsh</string>
						<string>terminal</string>
						<string>shell</string>
						<string>bash</string>
						<string>zsh</string>
					</array>
					<key>name</key>
					<string>Oh-My-Zsh Git</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Oh-My-Zsh_Git</string>
				</dict>
			</dict>
			<key>Python_Format_Strings</key>
			<dict>
				<key>date</key>
				<date>2022-06-25T01:36:15Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Python Format Strings</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Python_Format_Strings</string>
				</dict>
			</dict>
			<key>Regular_Expressions</key>
			<dict>
				<key>date</key>
				<date>2022-06-25T01:36:14Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>RegEx</string>
						<string>reg ex</string>
					</array>
					<key>name</key>
					<string>Regular Expressions</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Regular_Expressions</string>
				</dict>
			</dict>
			<key>Unix_File_Permissions</key>
			<dict>
				<key>date</key>
				<date>2022-06-25T01:36:16Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>chmod</string>
					</array>
					<key>name</key>
					<string>Unix File Permissions</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Unix_File_Permissions</string>
				</dict>
			</dict>
			<key>Vim</key>
			<dict>
				<key>date</key>
				<date>2022-06-25T01:36:16Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Vim</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Vim</string>
				</dict>
			</dict>
			<key>Visual_Studio_Code</key>
			<dict>
				<key>date</key>
				<date>2022-06-25T01:36:16Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Visual Studio Code</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Visual_Studio_Code</string>
				</dict>
			</dict>
			<key>iOS_Design</key>
			<dict>
				<key>date</key>
				<date>2022-06-25T01:36:15Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>xcode</string>
						<string>apple</string>
						<string>cocoa touch</string>
						<string>iphone</string>
						<string>ipad</string>
						<string>ios</string>
						<string>objc</string>
						<string>objectivec</string>
						<string>objective c</string>
						<string>objective-c</string>
					</array>
					<key>name</key>
					<string>iOS Design</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>iOS_Design</string>
				</dict>
			</dict>
			<key>iTerm2</key>
			<dict>
				<key>date</key>
				<date>2022-06-25T01:36:17Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>terminal</string>
						<string>shell</string>
						<string>bash</string>
						<string>zsh</string>
					</array>
					<key>name</key>
					<string>iTerm2</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>iTerm2</string>
				</dict>
			</dict>
			<key>openssl</key>
			<dict>
				<key>date</key>
				<date>2022-06-25T01:36:16Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>openssl</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>openssl</string>
				</dict>
			</dict>
			<key>tmux</key>
			<dict>
				<key>date</key>
				<date>2022-06-25T01:36:15Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>terminal</string>
						<string>shell</string>
						<string>bash</string>
						<string>zsh</string>
					</array>
					<key>name</key>
					<string>tmux</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>tmux</string>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict>
			<key>AppCode_Shortcuts</key>
			<dict>
				<key>date</key>
				<date>2018-05-31T08:47:21Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>jetbrains appcode shortcuts</string>
						<string>xcode</string>
						<string>apple</string>
						<string>cocoa touch</string>
						<string>iphone</string>
						<string>ipad</string>
						<string>ios</string>
						<string>mac os x</string>
						<string>macosx</string>
						<string>objc</string>
						<string>objectivec</string>
						<string>objective c</string>
						<string>objective-c</string>
					</array>
					<key>name</key>
					<string>AppCode</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>AppCode_Shortcuts</string>
				</dict>
			</dict>
			<key>Atom</key>
			<dict>
				<key>date</key>
				<date>2018-05-31T08:47:24Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Atom</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Atom</string>
				</dict>
			</dict>
			<key>Bash_Shortcuts</key>
			<dict>
				<key>date</key>
				<date>2018-05-31T08:47:26Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>terminal shell bash</string>
					</array>
					<key>name</key>
					<string>Bash Shortcuts</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Bash_Shortcuts</string>
				</dict>
			</dict>
			<key>Elixir_Guards</key>
			<dict>
				<key>date</key>
				<date>2018-08-09T05:42:59Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Elixir Guards</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Elixir_Guards</string>
				</dict>
			</dict>
			<key>Emoji</key>
			<dict>
				<key>date</key>
				<date>2018-05-31T08:47:44Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Emoji</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Emoji</string>
				</dict>
			</dict>
			<key>Font_Awesome</key>
			<dict>
				<key>date</key>
				<date>2018-05-31T08:47:45Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Font Awesome</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Font_Awesome</string>
				</dict>
			</dict>
			<key>GDB</key>
			<dict>
				<key>date</key>
				<date>2018-05-31T08:47:47Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>GDB</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>GDB</string>
				</dict>
			</dict>
			<key>Google_AdWords_Image_Ad_Specs</key>
			<dict>
				<key>date</key>
				<date>2018-08-10T17:03:03Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Google AdWords Image Ad Specifications</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Google_AdWords_Image_Ad_Specs</string>
				</dict>
			</dict>
			<key>Java_Lambda_Syntax</key>
			<dict>
				<key>date</key>
				<date>2018-05-31T08:48:08Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Java Lambda Syntax</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Java_Lambda_Syntax</string>
				</dict>
			</dict>
			<key>LLDB_Commands</key>
			<dict>
				<key>date</key>
				<date>2018-08-09T05:42:41Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>LLDB Commands</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>LLDB_Commands</string>
				</dict>
			</dict>
			<key>Licenses</key>
			<dict>
				<key>date</key>
				<date>2021-05-28T09:58:21Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Licenses</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Licenses</string>
				</dict>
			</dict>
			<key>MacPorts</key>
			<dict>
				<key>date</key>
				<date>2018-08-28T10:33:10Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>MacPorts</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>MacPorts</string>
				</dict>
			</dict>
			<key>NSPredicate</key>
			<dict>
				<key>date</key>
				<date>2021-05-28T09:58:21Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>xcode</string>
						<string>apple</string>
						<string>cocoa touch</string>
						<string>iphone</string>
						<string>ipad</string>
						<string>ios</string>
						<string>mac os x</string>
						<string>macosx</string>
						<string>objc</string>
						<string>objectivec</string>
						<string>objective c</string>
						<string>swift</string>
					</array>
					<key>name</key>
					<string>NSPredicate</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>NSPredicate</string>
				</dict>
			</dict>
			<key>SQLite</key>
			<dict>
				<key>date</key>
				<date>2018-05-31T08:48:36Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>SQLite</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>SQLite</string>
				</dict>
			</dict>
			<key>Sketch</key>
			<dict>
				<key>date</key>
				<date>2018-05-31T08:48:32Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>Bohemian Coding Sketch.App</string>
					</array>
					<key>name</key>
					<string>Sketch</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Sketch</string>
				</dict>
			</dict>
			<key>Swift</key>
			<dict>
				<key>date</key>
				<date>2022-05-26T16:30:09Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>apple</string>
						<string>cocoa touch</string>
						<string>iphone</string>
						<string>ipad</string>
						<string>ios</string>
						<string>mac os x</string>
						<string>macosx</string>
						<string>objc</string>
						<string>objectivec</string>
						<string>objective c</string>
						<string>objective-c</string>
						<string>xcode</string>
						<string>swift</string>
					</array>
					<key>name</key>
					<string>Swift</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Swift</string>
				</dict>
			</dict>
			<key>Xcode_Shortcuts</key>
			<dict>
				<key>date</key>
				<date>2021-05-28T09:58:23Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>apple</string>
						<string>cocoa touch</string>
						<string>iphone</string>
						<string>ipad</string>
						<string>ios</string>
						<string>mac os x</string>
						<string>macosx</string>
						<string>objc</string>
						<string>objectivec</string>
						<string>objective c</string>
						<string>objective-c</string>
						<string>swift</string>
					</array>
					<key>name</key>
					<string>Xcode</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Xcode_Shortcuts</string>
				</dict>
			</dict>
			<key>Xcode_UI_Testing</key>
			<dict>
				<key>date</key>
				<date>2021-05-28T09:58:23Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>apple</string>
						<string>cocoa touch</string>
						<string>iphone</string>
						<string>ipad</string>
						<string>ios</string>
						<string>mac os x</string>
						<string>macosx</string>
						<string>objc</string>
						<string>objectivec</string>
						<string>objective c</string>
						<string>objective-c</string>
						<string>swift</string>
					</array>
					<key>name</key>
					<string>Xcode UI Testing</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Xcode_UI_Testing</string>
				</dict>
			</dict>
			<key>YAML</key>
			<dict>
				<key>date</key>
				<date>2021-05-28T09:58:22Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>YAML</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>YAML</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>DHCocoaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHDartRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHGitHubRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHGoRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHHaskellRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHHexRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>ecto</key>
			<dict>
				<key>date</key>
				<date>2022-12-21T23:20:14Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>ecto</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>ecto</string>
				</dict>
			</dict>
			<key>phoenix</key>
			<dict>
				<key>date</key>
				<date>2023-02-16T03:16:03Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>phoenix</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>phoenix</string>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHJavaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHPhpRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHRubyRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHScalaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHStackOverflowRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHUserRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>React_Native</key>
			<dict>
				<key>date</key>
				<date>2022-06-25T01:37:11Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>React</string>
						<string>ReactNative</string>
						<string>Facebook</string>
						<string>JavaScript</string>
						<string>Reactjs</string>
						<string>UI</string>
						<string>iOS</string>
						<string>Android</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/React_Native#readme</string>
					<key>authorLinkText</key>
					<string>mnmaraes</string>
					<key>name</key>
					<string>React Native</string>
					<key>platform</key>
					<string>usercontribReact_Native</string>
					<key>uniqueIdentifier</key>
					<string>React_Native</string>
				</dict>
			</dict>
			<key>RxSwift</key>
			<dict>
				<key>date</key>
				<date>2022-08-18T04:04:33Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/RxSwift#readme</string>
					<key>authorLinkText</key>
					<string>Petr Zvonicek</string>
					<key>name</key>
					<string>RxSwift</string>
					<key>platform</key>
					<string>usercontribRxSwift</string>
					<key>uniqueIdentifier</key>
					<string>RxSwift</string>
				</dict>
			</dict>
			<key>Zsh</key>
			<dict>
				<key>date</key>
				<date>2022-06-25T01:36:20Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Zsh#readme</string>
					<key>authorLinkText</key>
					<string>bosr</string>
					<key>name</key>
					<string>Zsh</string>
					<key>platform</key>
					<string>usercontribZsh</string>
					<key>uniqueIdentifier</key>
					<string>Zsh</string>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict>
			<key>Bitcoin</key>
			<dict>
				<key>date</key>
				<date>2018-05-31T08:49:48Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>Bitcoin.org</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Bitcoin#readme</string>
					<key>authorLinkText</key>
					<string>Jerzy Kozera</string>
					<key>name</key>
					<string>Bitcoin</string>
					<key>platform</key>
					<string>usercontribBitcoin</string>
					<key>uniqueIdentifier</key>
					<string>Bitcoin</string>
				</dict>
			</dict>
			<key>Editorial</key>
			<dict>
				<key>date</key>
				<date>2018-08-09T04:48:12Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>editorial</string>
						<string>editorial-markdown</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Editorial#readme</string>
					<key>authorLinkText</key>
					<string>Lee Savide</string>
					<key>name</key>
					<string>Editorial</string>
					<key>platform</key>
					<string>usercontribEditorial</string>
					<key>uniqueIdentifier</key>
					<string>Editorial</string>
				</dict>
			</dict>
			<key>HTTP</key>
			<dict>
				<key>date</key>
				<date>2018-05-31T08:50:02Z</date>
				<key>entry</key>
				<dict>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/HTTP#readme</string>
					<key>authorLinkText</key>
					<string>Ice White</string>
					<key>name</key>
					<string>HTTP</string>
					<key>platform</key>
					<string>usercontribHTTP</string>
					<key>uniqueIdentifier</key>
					<string>HTTP</string>
				</dict>
			</dict>
			<key>Storm</key>
			<dict>
				<key>date</key>
				<date>2018-05-31T08:50:19Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Storm#readme</string>
					<key>authorLinkText</key>
					<string>Andrew Jorgensen</string>
					<key>name</key>
					<string>Storm</string>
					<key>platform</key>
					<string>usercontribStorm</string>
					<key>uniqueIdentifier</key>
					<string>Storm</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>DHWebViewIsDark</key>
	<false/>
	<key>actuallyDarkWebView</key>
	<true/>
	<key>annotationsAreShown</key>
	<false/>
	<key>docsets</key>
	<dict>
		<key>keywords</key>
		<dict>
			<key>~/Library/Application Support/Dash/Cheat Sheets/ASCII Tables/ASCII_Tables.docset</key>
			<string>d-ascii:</string>
			<key>~/Library/Application Support/Dash/Cheat Sheets/CSS Device Media Queries/CSS_Device_Media_Queries.docset</key>
			<string>d-media:</string>
			<key>~/Library/Application Support/Dash/Cheat Sheets/CSS Named Colors/CSS_Named_Colors.docset</key>
			<string>d-color:</string>
			<key>~/Library/Application Support/Dash/Cheat Sheets/Docker/Docker.docset</key>
			<string>d-docker:</string>
			<key>~/Library/Application Support/Dash/Cheat Sheets/Dockerfile/Dockerfile.docset</key>
			<string>d-dockerfile:</string>
			<key>~/Library/Application Support/Dash/Cheat Sheets/Elixir Guards/Elixir_Guards.docset</key>
			<string>d-elixirguard:</string>
			<key>~/Library/Application Support/Dash/Cheat Sheets/Git Flow/Git_Flow.docset</key>
			<string>d-gitflow:</string>
			<key>~/Library/Application Support/Dash/Cheat Sheets/Git/Git.docset</key>
			<string>d-git:</string>
			<key>~/Library/Application Support/Dash/Cheat Sheets/HTML Entities/HTML_Entities.docset</key>
			<string>d-htmle:</string>
			<key>~/Library/Application Support/Dash/Cheat Sheets/HTML Head Elements/HTML_Head_Elements.docset</key>
			<string>d-htmlhe:</string>
			<key>~/Library/Application Support/Dash/Cheat Sheets/HTTP Header Fields/HTTP_Header_Fields.docset</key>
			<string>d-http:</string>
			<key>~/Library/Application Support/Dash/Cheat Sheets/HTTP Status Codes/HTTP_Status_Codes.docset</key>
			<string>d-http:</string>
			<key>~/Library/Application Support/Dash/Cheat Sheets/LLDB Commands/LLDB_Commands.docset</key>
			<string>d-lldb:</string>
			<key>~/Library/Application Support/Dash/Cheat Sheets/Licenses/Licenses.docset</key>
			<string>d-license:</string>
			<key>~/Library/Application Support/Dash/Cheat Sheets/MIME Types/MIME_Types.docset</key>
			<string>d-mime:</string>
			<key>~/Library/Application Support/Dash/Cheat Sheets/Mac Startup Keys/Mac_Startup_Keys.docset</key>
			<string>d-macstartup:</string>
			<key>~/Library/Application Support/Dash/Cheat Sheets/MacPorts/MacPorts.docset</key>
			<string>d-port:</string>
			<key>~/Library/Application Support/Dash/Cheat Sheets/OhMyZsh Git/Oh-My-Zsh_Git.docset</key>
			<string>d-ohmyzsh:</string>
			<key>~/Library/Application Support/Dash/Cheat Sheets/Python Format Strings/Python_Format_Strings.docset</key>
			<string>d-pyfmt:</string>
			<key>~/Library/Application Support/Dash/Cheat Sheets/Regular Expressions/Regular_Expressions.docset</key>
			<string>d-regex:</string>
			<key>~/Library/Application Support/Dash/Cheat Sheets/Unix File Permissions/Unix_File_Permissions.docset</key>
			<string>d-ufp:</string>
			<key>~/Library/Application Support/Dash/Cheat Sheets/Visual Studio Code/Visual_Studio_Code.docset</key>
			<string>d-vscode:</string>
			<key>~/Library/Application Support/Dash/Cheat Sheets/openssl/openssl.docset</key>
			<string>d-openssl:</string>
			<key>~/Library/Application Support/Dash/Cheat Sheets/tmux/tmux.docset</key>
			<string>d-tmux:</string>
			<key>~/Library/Application Support/Dash/DocSets/CSS/CSS.docset</key>
			<string>d-css:</string>
			<key>~/Library/Application Support/Dash/DocSets/Django/Django.docset</key>
			<string>d-django:</string>
			<key>~/Library/Application Support/Dash/DocSets/Elixir/Elixir.docset</key>
			<string>d-elixir:</string>
			<key>~/Library/Application Support/Dash/DocSets/Erlang/Erlang.docset</key>
			<string>d-erl:</string>
			<key>~/Library/Application Support/Dash/DocSets/Go/Go.docset</key>
			<string>d-go:</string>
			<key>~/Library/Application Support/Dash/DocSets/HTML/HTML.docset</key>
			<string>d-html:</string>
			<key>~/Library/Application Support/Dash/DocSets/JavaScript/JavaScript.docset</key>
			<string>d-js:</string>
			<key>~/Library/Application Support/Dash/DocSets/Markdown/Markdown.docset</key>
			<string>d-markdown:</string>
			<key>~/Library/Application Support/Dash/DocSets/Python_2/Python 2.docset</key>
			<string>d-python2:</string>
			<key>~/Library/Application Support/Dash/DocSets/Python_3/Python 3.docset</key>
			<string>d-python3:</string>
			<key>~/Library/Application Support/Dash/DocSets/Ruby_2/Ruby.docset</key>
			<string>d-ruby:</string>
			<key>~/Library/Application Support/Dash/DocSets/Ruby_on_Rails_5/Ruby on Rails.docset</key>
			<string>d-rails:</string>
			<key>~/Library/Application Support/Dash/Hex DocSets/ecto/ecto.docset</key>
			<string>d-ecto:</string>
			<key>~/Library/Application Support/Dash/Hex DocSets/phoenix/phoenix.docset</key>
			<string>d-phoenix:</string>
		</dict>
	</dict>
	<key>feeds</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>http://kapeli.com/feeds/Apple_API_Reference.xml</key>
			<dict>
				<key>date</key>
				<date>2022-06-25T01:53:48Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Bash.xml</key>
			<dict>
				<key>date</key>
				<date>2022-06-25T01:36:21Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Django.xml</key>
			<dict>
				<key>date</key>
				<date>2022-06-25T01:36:59Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Elixir.xml</key>
			<dict>
				<key>date</key>
				<date>2022-06-25T01:36:29Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Erlang.xml</key>
			<dict>
				<key>date</key>
				<date>2022-06-25T01:53:52Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Go.xml</key>
			<dict>
				<key>date</key>
				<date>2022-06-25T01:36:30Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Man_Pages.xml</key>
			<dict>
				<key>date</key>
				<date>2022-06-25T01:36:21Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Python_3.xml</key>
			<dict>
				<key>date</key>
				<date>2022-06-25T01:37:53Z</date>
			</dict>
			<key>http://kapeli.com/feeds/React.xml</key>
			<dict>
				<key>date</key>
				<date>2022-06-25T01:38:10Z</date>
			</dict>
			<key>https://alamofire.github.io/Alamofire/docsets/Alamofire.xml</key>
			<dict>
				<key>date</key>
				<date>2022-06-25T01:37:01Z</date>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict>
			<key>http://kapeli.com/feeds/CSS.xml</key>
			<dict>
				<key>date</key>
				<date>2018-08-09T05:44:26Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Docker.xml</key>
			<dict>
				<key>date</key>
				<date>2018-08-09T05:44:30Z</date>
			</dict>
			<key>http://kapeli.com/feeds/HTML.xml</key>
			<dict>
				<key>date</key>
				<date>2018-08-09T05:44:48Z</date>
			</dict>
			<key>http://kapeli.com/feeds/JavaScript.xml</key>
			<dict>
				<key>date</key>
				<date>2018-08-09T05:44:51Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Markdown.xml</key>
			<dict>
				<key>date</key>
				<date>2021-05-28T09:58:21Z</date>
			</dict>
			<key>http://kapeli.com/feeds/MongoDB.xml</key>
			<dict>
				<key>date</key>
				<date>2018-08-09T05:44:57Z</date>
			</dict>
			<key>http://kapeli.com/feeds/PostgreSQL.xml</key>
			<dict>
				<key>date</key>
				<date>2018-08-09T05:45:03Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Python_2.xml</key>
			<dict>
				<key>date</key>
				<date>2018-08-09T05:45:05Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Ruby_2.xml</key>
			<dict>
				<key>date</key>
				<date>2018-08-09T05:45:09Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Ruby_on_Rails_5.xml</key>
			<dict>
				<key>date</key>
				<date>2018-08-09T05:45:10Z</date>
			</dict>
		</dict>
	</dict>
	<key>isPinned</key>
	<true/>
	<key>menuIconBehavior</key>
	<integer>1</integer>
	<key>placeholderDelimiter</key>
	<string>__</string>
	<key>profiles</key>
	<array>
		<dict>
			<key>isDefault</key>
			<true/>
			<key>name</key>
			<string>Default</string>
			<key>searchSnippets</key>
			<true/>
		</dict>
		<dict>
			<key>icon</key>
			<string>Snippet</string>
			<key>name</key>
			<string>Snippets Only</string>
			<key>placeholder</key>
			<string>Search Snippets</string>
			<key>searchSnippets</key>
			<true/>
		</dict>
	</array>
	<key>searchKey</key>
	<dict>
		<key>keyCode</key>
		<integer>-1</integer>
		<key>modifiers</key>
		<integer>8395520</integer>
	</dict>
	<key>searchUsingSelectedTextKey</key>
	<dict>
		<key>keyCode</key>
		<integer>-1</integer>
		<key>modifiers</key>
		<integer>8395520</integer>
	</dict>
	<key>shouldRestoreTabs</key>
	<false/>
	<key>shouldShowStatusIcon</key>
	<true/>
	<key>shouldStartAtLogin</key>
	<false/>
	<key>shouldSyncBookmarks</key>
	<true/>
	<key>shouldSyncDocsets</key>
	<true/>
	<key>shouldSyncGeneral</key>
	<true/>
	<key>shouldSyncView</key>
	<true/>
	<key>showInDock</key>
	<false/>
	<key>sortDocsetsAlphabetically</key>
	<true/>
	<key>versionedDHCheatRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHCocoaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHDartRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHGitHubRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHGoRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHHaskellRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHHexRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHJavaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHPhpRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHRubyRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHScalaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHStackOverflowRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHUserRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedFeeds</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>webSearches</key>
	<array>
		<dict>
			<key>iconName</key>
			<string>Google</string>
			<key>isDefault</key>
			<true/>
			<key>isEnabled</key>
			<true/>
			<key>name</key>
			<string>Google</string>
			<key>url</key>
			<string>https://www.google.com/search?q={query}</string>
		</dict>
		<dict>
			<key>iconName</key>
			<string>DuckDuckGo</string>
			<key>isDefault</key>
			<true/>
			<key>isEnabled</key>
			<false/>
			<key>name</key>
			<string>DuckDuckGo</string>
			<key>url</key>
			<string>https://duckduckgo.com/?q={query}&amp;ia=web</string>
		</dict>
		<dict>
			<key>iconName</key>
			<string>Stack Overflow</string>
			<key>isDefault</key>
			<true/>
			<key>isEnabled</key>
			<true/>
			<key>name</key>
			<string>Stack Overflow</string>
			<key>url</key>
			<string>https://stackoverflow.com/search?q={query}</string>
		</dict>
	</array>
	<key>windowStyle</key>
	<string>Standard</string>
</dict>
</plist>
