<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>55E07C0A-AB1B-4463-8153-95F88851DAE7</key>
		<array/>
		<key>77269867-DF3F-43FA-AD1A-893B32E5B492</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>55E07C0A-AB1B-4463-8153-95F88851DAE7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vero Pepperrell</string>
	<key>description</key>
	<string>Work at home</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Work at home</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Spotify.app</string>
					<string>/Applications/Stickies.app</string>
					<string>/Applications/Xcode.app</string>
					<string>/Applications/Google Chrome.app</string>
					<string>/Applications/GitKraken.app</string>
					<string>/Applications/iTerm.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>55E07C0A-AB1B-4463-8153-95F88851DAE7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>remotework</string>
				<key>subtext</key>
				<string>Launch Apps for working at home</string>
				<key>text</key>
				<string>Working at home</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>77269867-DF3F-43FA-AD1A-893B32E5B492</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Keywords are one of Alfred's most commonly used and most useful ways of launching actions. Set a keyword and connect it to the action(s) you want to perform.

Type your keyword into Alfred, followed by your input text if needed, and you'll be on your way to boosting your productivity!</string>
	<key>uidata</key>
	<dict>
		<key>55E07C0A-AB1B-4463-8153-95F88851DAE7</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>485</integer>
			<key>ypos</key>
			<integer>115</integer>
		</dict>
		<key>77269867-DF3F-43FA-AD1A-893B32E5B492</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>1. This keyword is set to not require additional input text, so that you can type "gettingstarted" and press return to launch the two attached actions at once.</string>
			<key>xpos</key>
			<integer>225</integer>
			<key>ypos</key>
			<integer>115</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>https://www.alfredapp.com</string>
</dict>
</plist>
